/* Colorscheme is Antique Grey from here:
https://www.ph9.com/en-GB/10-neutral-colour-palettes-to-use-on-your-website/blog_10146
*/

* {
  background-color: #fbffff;
  color: #2f2a26;
}

a:link {
  color: #806f5d;
}

a:hover {
  color: #afaba2;
}

a:active,
a:visited {
  color: #c3c3c1;
}
